# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# debug symbols
*.dSYM

# OSX ds_store
.DS_Store

# Swap files
*.sw?

# Built
target/
*.rlib
*.tar.gz
nanomsg-0.4-beta
nanomsg-0.5-beta
nanomsg-0.6-beta
nanomsg-0.7-beta
nanomsg-0.8-beta
nanomsg-0.9-beta
Cargo.lock

# Cloned nanomsg sources
nanomsg_sys/nanomsg/

.idea